<html>
  <head>
    <title>$title</title>
    <link rel='stylesheet' type='text/css' href='/fonts/clearsans_thin/stylesheet.css'/>
    <link rel='stylesheet' type='text/css' href='/fonts/clearsans_light/stylesheet.css'/>
    <link rel='stylesheet' type='text/css' href='/fonts/clearsans_regular/stylesheet.css'/>
    <link rel='stylesheet' type='text/css' href='/fonts/clearsans_medium/stylesheet.css'/>
    <link rel='stylesheet' type='text/css' href='/fonts/clearsans_bold/stylesheet.css'/>

    <link rel='stylesheet' type='text/css' href='/fonts/clearsans_italic/stylesheet.css'/>
    <link rel='stylesheet' type='text/css' href='/fonts/clearsans_mediumitalic/stylesheet.css'/>
    <link rel='stylesheet' type='text/css' href='/fonts/clearsans_bolditalic/stylesheet.css'/>

    <link rel='stylesheet' type='text/css' href='/normalize.css'/>
    <link rel='stylesheet' type='text/css' href='/style.css'/>
  </head>

  <body>
    $body
  </body>
</html>
