<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' type='text/css' href='/normalize.css'/>
    <link rel='stylesheet' type='text/css' href='/clearsans_light/stylesheet.css'/>
    <link rel='stylesheet' type='text/css' href='/style.css'/>
  </head>

  <body>
    <div class='homepage'>
      <div class='homepage-links'>
        <a class='homepage-link' href='/about.html'>About</a>
        <a class='homepage-link' href='/blog.html'>Blog</a>
        <a class='homepage-link' href='https://www.github.com/kerkeslager'>Git</a>
      </div>
    </div>
  </body>
</html>
