$menu
<h1>Signals</h1>

<p>There is a lot of noise on the internet and it can be hard for good signals to get through. The following links are signals I want to boost. All of them are free to access online, although some have living creators who need money, so please consider giving them some.</p>

<ul>
  <li><a href='http://www.carsieblanton.com/music/buoy'>Carsie Blanton &mdash; Buoy</a></li>
  <li><a href='https://www.mtholyoke.edu/acad/intrel/orwell46.htm'>George Orwell &mdash; Politics and the English Language</a></li>
  <li><a href='https://www.gnu.org/philosophy/philosophy.html'>Richard Stallman &mdash; Philosophy of the GNU Project</a></li>
  <li><a href='http://www.viridiandesign.org/notes/451-500/the_last_viridian_note.html'>Bruce Sterling &mdash; The Last Viridian Note</a></li>
</ul>
